html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

.homeImg {
  z-index: -10
  width: 100%;
  height: 93vh;
  background-position: top;
  position: relative;
}

.homeContent{
  z-index: 0
  height: 38vh;
  width: 100%;
  position: absolute;
  top: 63vh;
  text-align: center;
}

.navHeight{
  height: 7vh;
}

.emptyBox{
  height: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.addBP{
  height: 93vh;
}

.bPHeader{
  text-align: center;
}

.mapSettings{
  height: 93vh;
  overflow-x: scroll;
}
